.admin-date-range {
  &.ant-picker {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #404040;
    border: 0;
    box-shadow: none;
    padding: 0;

    .ant-picker-input {
      background: #FFFFFF;
      border: 1px solid #05A7CB;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 6px 15px;
      width: 160px;
    }

    .ant-picker-active-bar, .ant-picker-suffix {
      display: none !important;
    }
  }
}