.ant-modal {
  & &-body {
    padding: 1.75rem 1.75rem 0.5rem;
    text-align: left;
  }

  & &-content {
    border-radius: 0;
    text-align: center;
  }

  & &-header {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    margin: 0 1.75rem;
    padding-top: 1.5rem;
    padding-bottom: 0.25rem;
    border-radius: 0;
    border-bottom: 0;
    background: transparent;
  }

  & &-title {
    font-size: 1.33em;
    font-weight: bold;
  }

  & &-footer {
    padding: 1.75rem 0 2rem;
    border-radius: 0;
    border: 0;
    text-align: center;
  }

  &-footer {
    .ant-btn {
      border: 0;
      min-width: 10rem;
    }
  }

  .ant-modal-close-x {
    width: 40px;
    height: 44px;
    line-height: 44px;
  }

  &-close-icon {
    color: #646464;
    font-size: 1.5rem;
  }

  .txtarea-desc {
    white-space: break-spaces;
  }

  .search-form {
    .ant-form-item-label {
      width: 5.5rem;
    }
  }

  .form__body {
    padding: 0;
  }

  .ant-btn {
    background: #e5e5e5;
    color: #636363;
    border-color: transparent;
  }

  .ant-btn-primary {
    background: #1794ac !important;
    color: white !important;
  }
}

.ant-modal {
  &.admin-modal, &.admin-modal-create {
    .ant-modal-header {
      margin: 0 60px;
      padding-top: 40px;
      padding-bottom: 30px;

      .ant-modal-title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
      }
    }

    .ant-modal-body {
      padding: 30px 80px 0;
    }

    .ant-modal-footer {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      padding: 0 80px 40px;

      .ant-btn {
        border-radius: 5px;
        color: white;
        margin: 0 10px;
        padding: 10px 25px;
        width: auto;
        height: auto;
        background: rgba(131, 130, 130, 1);

        &:hover {
          background: rgba(131, 130, 130, .85);
        }

        &.ant-btn-primary {
          background: rgba(255, 104, 104, 1) !important;

          &:hover {
            background: rgba(255, 104, 104, .85) !important;
          }
        }
      }
    }
  }

  &.admin-modal-create {
    .ant-modal-footer {
      flex-direction: column-reverse;

      .ant-btn {
        border-radius: 5px;
        color: #000000;
        margin: 10px 0 0;
        width: auto;
        height: auto;
        background: transparent;

        &:hover {
          background: transparent;
        }

        &.ant-btn-primary {
          color: white;
          padding: 10px 25px;
          background: rgba(5, 167, 203, 1) !important;

          &:hover {
            background: rgba(5, 167, 203, 0.85) !important;
          }
        }
      }
    }

    .admin-modal-text {
      &.ant-typography {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #000000;
        margin-bottom: 40px;
        margin-top: 20px;
      }
    }
  }

  &.admin-modal-confirm {
    .anticon {
      display: none;
    }

    .ant-modal-body {
      padding: 40px;

      .ant-modal-confirm-content {
        margin: 0;
        text-align: center;
        color: #000000;

        .ant-typography {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
        }
      }

      .ant-modal-confirm-btns {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
        float: none;

        .ant-btn {
          height: auto;
          border: 0;
          padding: 10px 25px;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          color: #FFFFFF;
          border-radius: 5px;
          background: rgba(5, 167, 203, 1);

          &:hover {
            color: #FFFFFF !important;
            background: rgba(5, 167, 203, 0.85) !important;
          }
        }
      }
    }
  }
}
