.ant-table-wrapper {
  &__selections {
    .ant-table-thead .ant-table-selection {
      display: none;
    }

    &.disabled .ant-table-tbody > tr > td:not(:first-child) {
      pointer-events: none;
    }

    &.swap_status .row-draft {
      pointer-events: none;
      opacity: .2;
    }
  }

  .ant-table {
    &-content {
      padding: 1.75rem 1.25rem 2.25rem;
      font-size: 0.8rem;
    }

    &-container {
      border: 0 !important;
    }

    &-cell {
      img {
        min-width: 70px;
        min-height: 70px;
        max-width: 70px;
        max-height: 70px;
      }
    }

    &-selection-column {
      pointer-events: none;

      .ant-checkbox {
        pointer-events: auto;
      }
    }

    .ant-table-thead > tr > th {
      text-align: center;
      padding: 0 0.8rem 0.4rem;
      color: #838282;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;

      &:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        display: none;
      }
    }

    th {
      vertical-align: top;
      border-right: 0 !important;
      color: #787878 !important;
    }

    td {
      padding-left: 0.8rem !important;
      padding-right: 0.8rem !important;
      color: #000000;
    }

    &.ant-table-bordered {
      td:first-child {
        border-left: 1px solid #e8e8e8;
      }
    }

    .btn-copy, .btn-copy:hover, .btn-copy:focus, .btn-delete, .btn-delete:hover, .btn-delete:focus, {
      width: 22px !important;
      height: 22px !important;
      cursor: pointer;
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      border: 0;
    }

    .btn-copy, .btn-copy:hover, .btn-copy:focus {
      background-image: url(../../img/btn_copy.png);
    }

    .btn-delete, .btn-delete:hover, .btn-delete:focus {
      background-image: url(../../img/btn_delete.png);
    }

    .bg--gray {
      background-color: #d9d9d9;
    }
  }
}

.ant-table-wrapper {
  &.admin-table {
    .ant-table-content {
      padding: 0;
    }

    .ant-table {
      td, th {
        &:first-child {
          padding-left: 20px !important;
        }

        &:last-child {
          padding-right: 20px !important;
        }
      }

      .ant-table-thead {
        > tr > {
          th {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #838282 !important;
            padding-top: 15px;
            padding-bottom: 12px;

            &:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
              display: none;
            }
          }
        }
      }
    }

    .ant-table-row {
      &.table-row-dark {
        background: rgba(196, 196, 196, 0.6);

        td {
          background: rgba(196, 196, 196, 0.6);
        }
      }
    }

    .table-date-time {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #404040;
    }

    .table-content {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
    }

    .table-creator {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #000000;
    }

    .table-value {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 14px;
      color: #000000;
    }

    .table-registered, .table-not-registered {
      &.ant-typography {
        padding: 2px 5px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
      }
    }

    .table-registered {
      background: #FF6868;
    }

    .table-not-registered {
      background: #05A7CB;
    }
  }
}
