$font-weight-normal: 500;
$font-weight-bold: 700;

$primary-color: #6396c7;
$secondary-color: #6396c7;
$black: #000;
$text-color: #6d6d6d;
$main-color: #1b335d;
$gray: #838282;
$white: #ffffff;
$error: #ff0000;
