.btn {
  &-cancel {
    color: #636363 !important;
    background: #e5e5e5 !important;
    border-color: #e5e5e5 !important;
  }

  &--disabled {
    &,
    &:hover,
    &:focus {
      color: white !important;
      background: #c8c8c8 !important;
      border-color: #c8c8c8 !important;
      cursor: not-allowed !important;
    }
  }

  &-white {
    border-color: #1794ac !important;
    color: #1794ac !important;

    span {
      font-weight: bold;
    }
  }

  &-new {
    display: inline-flex !important;
    justify-content: center;
    align-items: center !important;
    width: 20rem;

    .anticon {
      font-size: 130%;
    }
  }

  &-link {
    &,
    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      outline: none !important;
      border: none !important;
      background: transparent !important;
      text-decoration: underline !important;
      font-weight: normal;
    }
  }

  &-search {
    display: flex !important;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: normal;

      &.anticon-search {
        font-size: 130%;
        margin-left: .5rem;
      }
    }
  }
}

.ant-btn, .ant-typography {
  &.btn-sub {
    display: inline-block;
    width: auto;
    padding: 10px 30px;
    height: auto;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    border-radius: 5px;
    background: rgba(5, 167, 203, 1);
    border: 1px solid rgba(5, 167, 203, 1);

    &.max-width {
      display: block;
      width: 100%;
    }

    &:hover, &:focus {
      color: #FFFFFF;
      background: rgba(5, 167, 203, 0.85);
    }
  }

  &.btn-creator {
    display: inline-block;
    width: auto;
    padding: 10px 30px;
    height: auto;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    border-radius: 5px;
    background: rgba(131, 130, 130, 1);
    border: 1px solid rgba(131, 130, 130, 1);

    &.max-width {
      display: block;
      width: 100%;
    }

    &:hover, &:focus {
      color: #FFFFFF;
      background: rgba(131, 130, 130, .85);
    }
  }

  &.btn-primary {
    width: auto;
    padding: 10px 30px;
    height: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgba(5, 167, 203, 1);

    &.max-width {
      display: block;
      width: 100%;
    }

    &:hover, &:focus {
      color: #FFFFFF;
      background: rgba(5, 167, 203, 0.85);
    }
  }

  &.btn-notification {
    height: auto;
    padding: 12px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FF6868;
    background: #FFFFFF;
    border: 1px solid #FF6868;
    border-radius: 6px;

    &:hover {
      color: white;
      background: #FF6868;
      border: 1px solid #FF6868;
    }
  }

  &.btn-statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: auto;
    padding: 20px 30px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #05A7CB;

    &:hover {
      color: white;
      background: #05A7CB;
      border: 1px solid #05A7CB;
    }

    .btn-statistics-data {
      margin-bottom: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
    }

    .btn-statistics-value {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
    }
  }

  &.btn-delete-item {
    line-height: 1;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    border: 0;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    img{
      max-width: none !important;
      min-height: auto !important;
      min-width: auto !important;
      max-height: none !important;
      height: auto;
      width: 16px;
    }
  }
}
