.form {
  &__body {
    padding: 1.75rem 2rem 1.5rem;
    background: white;
    border-radius: 0 0 5px 5px;
    margin-bottom: 2rem;
  }

  &__header {
    background-color: #808080;
    padding: 1rem;
    color: white;
    border-radius: 5px 5px 0 0;
    font-weight: bold !important;
  }

  &__controls {
    margin: 3rem auto;
    text-align: center;

    .ant-btn {
      width: 28%;
      margin: 0 0.5rem;
      display: inline-block;
    }
  }

  &__control.ant-btn {
    background: #eaf6fc;
    color: #2ca6e0;
    border-color: #2ca6e0;
  }

  &__group {
    &:not(:first-child) {
      margin-top: 2rem;
    }

    .ant-table {
      &-thead th {
        text-align: left !important;
        padding-left: 0.8rem !important;
      }
    }
  }
}

.search-form {
  .btn-submit {
    width: 12rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    flex: 0 0 48%;
  }
}

.input-group {
  .ant-radio-group {
    display: block;
  }

  &__radio-wrapper {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    .ant-radio-wrapper {
      line-height: 40px;
    }

    .ant-form-item {
      flex-grow: 1;
      margin-bottom: 0;
      margin-left: 1rem;
    }
  }
}

.admin-form {
  &.ant-form {
    .ant-form-item {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .ant-form-item-has-error .ant-form-item-explain {
      position: absolute;
      left: 0;
      top: 100%;
    }

    .ant-form-item-label .ant-form-item-required {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px;
      color: #6D6D6D;

      &:before {
        display: none;
      }

      &:after {
        content: '必須';
        padding: 2px 6px;
        margin-left: 10px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: white;
        background: #FF6868;
      }
    }

    .ant-input {
      height: 40px;
      background: #FFFFFF;
      border: 1px solid #05A7CB;
      box-sizing: border-box;
      border-radius: 6px;
    }
  }
}