.list-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #E5E5E5;

  &-title {
    &.ant-typography {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      margin: 0;
    }
  }


  &-sub-title{
    &.ant-typography {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      margin: 0;
    }
  }

  &-btn {
    &.ant-btn {
      display: inline-block;
      padding: 10px 25px !important;
      height: auto;
      text-align: center;
      min-width: 200px;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      border-radius: 5px;
    }
  }

  &-head {
    padding: 10px 0;
  }

  &-body {
    display: flex;
    flex-direction: column;
    padding: 0 0 30px;
    background: white;
    height: calc(100vh - 110px);

    &-status {
      padding: 10px 0;
      &.success {
        background: #F4F9E8;
      }
    }
  }
}