#root {
  background: #FFF; //#E5E5E5;
}

body {
  background-color: #F0F0F0;
}

.head-container {
  padding-top: 13px;
  background-color: #E5E5E5;
}

.main-container {
  background-color: #fff;
  padding-bottom: 50px;
}

.ant-table-wrapper .ant-table .ant-table-thead>tr>th {
  text-align: left;
}

.admin-block-sub-title {
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  padding: 20px 0 10px;
}

.hidden {
  display: none;
}